.apple {
  display: block;
  width: 40%;
  margin-top: 5rem;
  margin-left: 5rem;
  padding: 1rem;
  background-color: #f1aa36;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fade 1s ease-out;
}

.apple-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.apple-heading {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #f1aa36;
}

.apple-text {
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #611a1a;
  text-align: center;
}

.appletext-container {
  text-align: center;
}

.add-to-cart {
  align-items: center;
}

/*@media rule*/
@media screen and (max-width: 768px) {
  body {
    background-color: #90a34d;
  }
  .apple-container {
    flex-direction: column;
    align-items: center;
  }
}
