/*category lists left side*/
.list {
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  position: absolute;
  left: -50px;
}

#logo {
  position: relative;  
  /*puts the logo above whatever is blocking it*/
  z-index: 10;
}
p {
  font-weight: 700;
  font-size: 2rem;
  display: inline;
  padding: 400px;
  color: white;
}

/*category images*/
.fruits-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 300px;
  margin-top: 100px;
  row-gap: 100px;
}

.greens {
  width: 100%;
  background-color:  #ffad61;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fade 1s ease-out;
  color:#611a1a;
}

.subheading {
  color: white;
  text-align: flex-start; 
  font-size: 60px; 
  font-weight: bold; 
  margin-top: 4rem;
  margin-left: 2rem; 
  letter-spacing: 5px;
}

figure {
  text-align: center;
}

figcaption {
  margin-top: 10px;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.apple {
  margin-left: 30rem;
margin-top: 5rem;
  width: 50%

}






