* {
  font-family: "Sigmar", serif;
}

/*Header*/
#header {
    display: flex;
    align-items: center;
    /*Moving items to the left*/
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: #4e5d42; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    flex-grow: 0;
}

#logo {
    font-weight: 600;
    font-size: 2rem;
    display: inline;
    padding: 5px;
    color: white;
    margin-left: 20px;
  }

body{
    background-color: #5f6f52
    
}
ul {
    display: flex;
    padding-left: 1px;
    font-size:1.5rem;
  }
  

  li{
    margin-left: 3rem;
    list-style:none;
    padding: 2rem;

  }
  a {
    color: white;
    text-decoration: none;
  }
/*the uls*/
  .nav-container {
    display: flex;
    justify-content: center;
    flex-grow: 1; 
    margin-left: 90px;
}
/*Grid*/
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.product-card {
  background-color:  #ffad61;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fade 1s ease-out;
}

.product-card img {
  max-width: 100%;
  border-radius: 8px;
  animation: fade 1s ease-out;
}

.product-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
}

/*Animation*/
@keyframes fade {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/*Hover effect for logo and links*/
a:hover {
  color: #f1c40f;
  transform: scale(1.1);
}
.featured-products, .bestsellers, .new-arrivals, .special-offers{
  padding-top: 1.5rem;
  margin-left: 270px;
}

.banner{
  margin-left: 580px;
}

.new-arrivals h2, .special-offers h2 {
  font-size: 2rem;      
  font-weight: 600;    
 margin-left: 420px
}
.bestsellers h2{
  margin-left: 440px;
  font-size: 2rem;      
  font-weight: 600; 
}
.featured-products h2{
  margin-left: 380px;
  font-size: 2rem;      
  font-weight: 600; 
}

.footer-links{
  margin-left: 430px;
}
/*Hover*/
.product-grid:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease-in-out; 
  filter: brightness(1.1);
}

.search-bar {
  display: flex;
  gap: 0.5rem;
}

.search-bar input {
  padding: 0.5rem;
  font-size: 1rem;
}

.search-bar button {
  padding: 0.5rem 1rem;
  background-color: #f39c12;
  border: none;
  color: white;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #e67e22;
}

/*Banner*/
.banner {
  background-color:#ffad61;
  color: black;
  padding: 70px 20px;
  height:180px;
  margin-left: -5px;
  text-align: center;
}

.banner h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}