* {
    font-family: "Roboto", sans-serif;
}

/*Header*/
#header {
    display: flex;
    align-items: center;
    /*Moving items to the left*/
    justify-content: flex-start;
    gap: 100px;
}

#logo {
    font-weight: 600;
    font-size: 1.2rem;
    display: inline;
    padding: 5px;
  }

body{
    background-color: #5f6f52
}
ul {
    display: flex;
    list-style: none;
    padding-left: 1px;
  }
  

  li{
    margin-left: 3rem;
  }
  a {
    color: black;
  }