.cart-container {
  padding: 20px;
  margin-top: 20px;
  background-color: #fffdd0;
  border-radius: 8px;
  height: 400px;
  overflow: hidden;
}

.cart-container h2 {
  font-size: 2rem;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
}

#cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100%;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cart-item img {
  width: 60px;
  height: auto;
  border-radius: 4px;
  margin-right: 15px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-details p {
  font-size: 1rem;
  color: black;
}

.cart-item-actions {
  display: flex;
  gap: 10px;
}

.total-amount {
  padding: 20px;
  background: #f39c12;
  border-radius: 2px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1 fr;
  gap: 20px;
  padding: 20px;
  align-items: start;
}

.delivery-info,
.payment {
  padding: 20px;
  background: #fffdd0;
  border-radius: 4px;
}

.payment {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.pay-btn {
  background: #f39c12;
  color: white;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  font-size: 1.3em;
  border-radius: 5px;
}

/*@media rule*/
@media screen and (max-width: 768px) {
  body {
    background-color: #90a34d;
  }
  .cart-container,
  .container {
    flex-direction: column;
    align-items: center;
  }
}
